    <div class="container__all" id="container_all">

        <div class="cover">
            <!--INICIO WAVE-->
            <div class="bg_color"></div>
            <div class="wave w1"></div>
            <div class="wave w2"></div>


            <div class="container__cover">

                <div class="container__info">
                    <h4>Hola, Soy...</h4>
                    <h1>Valentina</h1>
                    <h1 class="h1second">Rivera</h1>
                    <h2>Fullstack Developer</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus molestias cumque at, impedit eum
                        corrupti libero ipsam placeat, nulla, maiores totam qui ea distinctio. Velit, distinctio. Iste
                        iusto deserunt esse?</p>
                    <input type="button" value="Get Started">
                </div>
                <div class="container__vector">
                    <img src="/assets/images/programmer.svg"
                     alt="imagen">
                </div>
            </div>

        </div>
    </div>
<!-- 
<div class="contenedor">
    <div class="row">
        <h2>Valentina Rivera</h2>
        <p>Software Developer</p>
    </div>
</div>
 <div class="center">
    <img
    src="/assets/images/navegrey.svg"
    alt="image"
    width="300"
    height="341" />
 </div>
 -->