@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');
*{
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 100px;
  font-family: "Roboto Slab", serif;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  transition: all 300ms;
  background-color: #fcda90;
}

.move_content{
  right: 180px;
}

.container__header{
  max-width: 1300px;
  height: 100%;  
  display: flex;
  justify-content: space-between; 
  margin: auto;
  padding: 0px 10px;
}

header .logo{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img{
  width: 70px;
}

.container__nav{
  position: relative;
  height: 100%;
}

nav{
  height: 100%;
}

nav ul{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li{
  margin: 0px 20px;
  list-style: none;
}

nav ul li a{
  color: #2E2E40;
  font-size: 20px;
  font-family: "Roboto Slab", serif;
}

.select{
  background: var(--color-secundario);
  padding: 10px 30px;
  color: white;
  border-radius: 20px;
}

.nav_mod{
  height: 70px;
  box-shadow: 1px 1px 10px 0px #00000010;
  background: white;
}

.btn__menu{
  width: 50px;
  height: 50px;
  color: black;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background 300ms;
  display: none;
}

.btn__menu:hover{
  background: #f5f5f5;
}

@media screen and (max-width: 920px){
  .container__vector img{
      width: 500px;
  }
}


@media screen and (max-width: 760px){

  .container__nav{
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .btn__menu{
      display: flex;
  }

  nav{
      height: 100%;
      background: #F1FAFF;
      position: fixed;
      top: 0;
      right: -180px;
      padding: 0 40px;
      transition: all 300ms;
  }

  .move_nav{
      right: 0px;
  }

  nav ul{
      flex-direction: column;
  }

  nav ul li{
      margin: 20px 0px;
  }

  .container__vector img{
      transform: scale(0);
      animation: none;
  }
}
