<header id="header">

    <div class="container__header">
        <div class="logo">
            <img src="/assets/images/logo.png" alt="logo">
        </div>
        <div class="container__nav">
            <nav id="nav">
                <ul>
                    <li>
                        <a href="#" class="select">
                            <i class="mr-4 fa-solid fa-house"></i>Home</a></li>
                    <li>
                        <i class="fa-solid fa-user"></i>
                        <a href="#">Acerca de mi </a></li>
                    <li><a href="#">Contáctame</a></li>
                </ul>
            </nav>

            <div class="btn__menu" id="btn_menu">
                <i class="fa-solid fa-bars"></i>
            </div>

        </div>

    </div>






    <!--
    <div class="container__header">
            <div class="logo">
                <img src="images/logo-magtimus.png" alt="">
            </div>
            <div class="container__nav">
                <nav id="nav">
                    <ul>
                        <li><a href="#" class="select">HOME</a></li>
                        <li><a href="#">ABOUT US</a></li>
                        <li><a href="#">HOW IT WORK</a></li>
                        <li><a href="#">CONTACT US</a></li>
                    </ul>
                </nav>

                
                <div class="btn__menu" id="btn_menu"><i class="fas fa-bars"></i></div>

            </div>

        </div>

    </nav>
    <a href="#" class="btn-hablar">Contactame</a>
-->
</header>